Pizza Shop Point of Sale

1) Allow for multiple pizzas
2) Ask for sizes, either small, medium or large
3) Ask about toppings
		(pepperoni, sausage, bacon, onion, peppers, pineapple, mushrooms, extra cheese)
4) Ask about sodas (coke products)
5) Give total price, tax, and grand total (total + tax)
6) Allow user to set price for each sizes
7) Allow user to set a price for adding toppings (each topping costs the same, but different for each size)
8) Allow user to set price for different sodas
9) Have an employee login using 4 digit numbers, that identifies the current employee by name (can preload users)
10) Graphical interface, runs on windows
11) Be able to complete an order and then start the next one
